.btn {
    -fx-color: blue;
}

.btn-disabled {
    -fx-color: red;
}

.terminal {
    text-area-background: black ;
    -fx-text-fill: white;
}

.terminal .content {
    -fx-background-color: text-area-background ;
}